#imgMM
{
    position: absolute;
    width: 17%;
    right: 1%;
    top: -1%;
    
}
#intro
{
    background-color:#FF6666;
    padding-top: 90px;
    height: 1000px;
    padding-right: 2000px;
}

#sub
{
    color:#29ADB8;
    padding-left:40px;
}

#d1,#te2
{
    color:#9C9796;
    left:30px;
    
}
#jbt
{
    color:#9C9796;
    left:30px;
}
#linea
{
    border-bottom:  5px solid  #29ADB8;
}
#img2
{
    position: absolute;
    right: 75%;
    top: 5px;
   
}

#he
{
    
        
    position: fixed;
    right: 0;
    background-color: #00adb6;
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    height: 94px;
        
      
    
}
#espacio
{
    height: 300px;
}
#espacio2
{
    height: 30px;
}
div#col
{
    padding-left: 20px;
    height: 195px;
}
p#colRed,#colBlue,#col2
{
    color: white;
}
#colRed
{
    
    border-left: 5px solid #CC2521;
    padding-bottom: 9px;
    padding-top: 2px;
    padding-left: 2px;
}
#colBlue
{
    border-left: 5px solid #1F7773;
    padding-bottom: 9px;
    padding-top: 2px;
    padding-left: 2px;
}
#pR
{
    padding-left: 6px;
    background-color: #E35E5E;
}
#pB
{
    padding-left: 6px;
    background-color: #3EC8C0;
}
img#imglink,#imgregistro
{
    position: relative;
    left: 30px;
    top: 15px;
}
#imgNS
{
    width: 300px;
    height: 300px;
}
#imgEsLi
{
    width: 400px;
    height: 400dpx;
    top: -48px;
    position: relative;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
#pi
{
    height: 249px;
     font-family: "Tahoma";
}

.texto
  {
    font-size: 18px;
  }
  .bold
  {
    font-weight: bold;
  }
  .gray
  {
    color:  #999999;
  }
  .red
  {
    color: #e75d61;
  }
  .blue
  {
    color: #00adb6;
  }
  .blue-dark
  {
    background-color: #007873;
    left: 0px;
    position: absolute;
    width: 7px;
    height: 100%;
  }
  .header
  {
    font-size: 30px;
    font-weight: bold;
  }
  #bord_first
  {
    border-left: 2px solid #00adb6;
  }
  .blue-box
  {
    background-color: #25c8c0;
    color: #fff;
    border-left: 7px solid #00adb6;
  }