body
{
  font-family: "Tahoma";
  color: #fff;
  font-size: 18px;

}
#divBorder1{
  border-bottom: .5em solid #999999; 
  background-color: #F2F2F2;
}
#divBorder2{
  border-bottom: .5em solid #999999;
  border-top: .5em solid #999999;
  background-color: #F2F2F2;
}
#divBorder3{
  border-top: .5em solid #999999;
  background-color: #F2F2F2;
}
#imgMM
{
    position: absolute;
    width: 17%;
    right: 1%;
    top: -1%;
    
}
#intro
{
    background-color:#FF6666;
    padding-top: 90px;
    height: 1000px;
    padding-right: 2000px;
    font-weight: bold;
}

#sub
{
    color:#29ADB8;
    padding-left:40px;
}

#d1,#te2
{
    color:#9C9796;
    left:30px;
    
}
#jbt
{
    color:#9C9796;
    left:30px;
}
#linea
{
    border-bottom:  5px solid  #29ADB8;
}
#img-libros
{
    position: absolute;
    left: -10px;
}

#he
{
    
        
    position: fixed;
    right: 0;
    background-color: #00adb6;
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    height: 94px;
        
      
    
}
#estudiarLinea,#estudiarLinea2,#prepaYbachi,#Cursos,#Recuerda
{
  z-index: -1;
}
#espacio
{
    height: 300px;
}
#espacio2
{
    height: 30px;
}
div#col
{
    padding-left: 20px;
    height: 195px;
}
p#BachTecP, #BUNAMP, 
#BachGralP, #UnivVirtualP,
#PrepaLP,#col2,
#UADMP,#PoliVP,#CUAEDP,
#UDGVP,#UVEGP,#testVocacionalP
{
    color: white;
}
#PrepaLP,#UADMP
{
    
    border-left: 5px solid #CC2521;
    padding-bottom: 9px;
    padding-top: 2px;
    padding-left: 2px;
    cursor: pointer;
}
#BachTecP, #BUNAMP, 
#BachGralP, #UnivVirtualP,
#PoliVP,#CUAEDP,
#UDGVP,#UVEGP,#testVocacionalP
{
    border-left: 5px solid #1F7773;
    padding-bottom: 9px;
    padding-top: 2px;
    padding-left: 2px;
    cursor: pointer;
}
#PrepaLD,#UADMD
{
    padding-left: 6px;
    background-color: #E35E5E;
}
#BachTecD, #BUNAMD, 
#BachGralD, #UnivVirtualD,
#PoliVD,#CUAEDD,
#UDGVD,#UVEGD,#testVocacionalP
{
    padding-left: 6px;
    background-color: #3EC8C0;
}
img#imglink,#imgregistro
{
    position: relative;
    left: 30px;
    top: 15px;
}
#imgNS
{
    width: 300px;
    height: 300px;
}
#imgEsLi
{
    width: 400px;
    height: 400dpx;
    top: -48px;
    position: relative;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
#pi
{
    height: 249px;
     font-family: "Tahoma";
     font-size: 18px;
}

  .bold
  {
    font-weight: bold;
  }
  .gray
  {
    color:  #999999;
  }
  .red
  {
    color: #e75d61;
  }
  .blue
  {
    color: #00adb6;
  }

@font-face
{
    font-family: "Tahoma";
    src: url("Tahoma.woff") format("woff");
}
  /*#espacio{
    margin-bottom: 30%;
  }*/
  .contenedor-img {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff;
    padding: 0;
  }
  .contenedor-img img{
    padding: 0;
  }
  .contenedor-img .mascara,.contenedor-img .contenido {
    position: absolute;
    overflow: hidden;
    height: 100%;
    top: 0;
    left: 0
  }
  .contenedor-img img {
    display: block;
    position: relative;
  }
  .ejemplo-3 img {
    transition: all 0.4s ease-in-out;
  }
  .ejemplo-3 .mascara {
    background-color: #f2f2f2;
    transform: translateX(-100%);
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
  .ejemplo-3:hover .mascara {
    transform: translateX(0px);
  }
  .ejemplo-3:hover img {
    transform: translateX(150%);
  }
 
  .blue-box{
    background-color: #25c8c0;
    color: #fff;
    border-left: 7px solid #00adb6;
  }
  .margenTest {
       margin-left: 13px;
  }
  .red-box{
    background-color: #e75d61 ;
    color: #fff;
    border-left: 7px solid #e75d61;
  }
  .gray{
    color:  #999999;
  }
  .red{
    color: #e75d61;
  }
  .red-dark{
    background-color: #d12225;
    left: 0px;
    position: absolute;
    width: 7px;
    height: 100%;
  }
  .blue{
    color: #00adb6;
  }
  .blue-dark{
    background-color: #007873;
    left: 0px;
    position: absolute;
    width: 7px;
    height: 100%;
  }
  .header
  {
    font-size: 30px;
    font-weight: bold;
  }
  #bord_first
  {
    border-left: 2px solid #00adb6;
  }
  .blue-box
  {
    background-color: #25c8c0;
    color: #fff;
    border-left: 7px solid #00adb6;
  }
  .selected{
    background-color: #00adb6 !important ;
  }
  #selectors > div{
    cursor: pointer;
  }
  #selectors2 > div{
    cursor: pointer;
  }
  #responsive-menu{
    position: fixed;
    top: 72px;
    z-index: 100;
    background-color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #abs div{
    cursor: pointer;
  }
  .opt{
    width: 50px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
  }
  #img-recuerda{
    position: absolute;
    right: 4.5%;
  }
  #img-curso{
    left: -31px;
    top: 129px;
    position: absolute;
  }
  #img-curso2{
    left: -18px;
    top: 20px;
    position: absolute;
  }
  .line{
    border-top: 5px solid #00adb6;
  }
  #info{
    position: absolute;
    right: 0;
    height: 100%;
  }
  #infoDos{
    position: absolute;
    right: 0;
    height: 100%;
  }
  .small-space{
    margin-top: 2%;
  }
  .top-space{
    margin-top: 5%;
  }
  .text{
    font-size: 18px;
  }
  .bold{
    font-weight: bold;
  }
  #NivelSuperior{
    margin-top:90px;
  }
  .header{
    font-size: 30px;
    font-weight: bold;
  }
  #head{
    position: fixed;
    right: 0;
    background-color: #00adb6;
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    height: 94px;
    z-index: 100;
  }
  #head p{
    margin-top: 0.5%;
    margin-left: 0.5%;
    width: 85%;
  }
  #head img{
    position: absolute;
    width:  17%;
    right: 1%;
    top:  -1%;
  }
  
  .stuff_menu{
    background-color: #f2f2f2;
    position: relative;
  height: 78px;
  
  }
  .stuff_menuLast{
    background-color: #f2f2f2;
    position: relative;
    height: 80px;
  
  }
  #abs{
    position: fixed;
    padding: 0;
  }
  
  #hamburger{
    width: 45%;
    margin-left: 26%;
    margin-top: 19%;
  }
  .img_pos{
    width: 45%;
    margin-left: 26%;
    margin-top: 19%;
  }
  
  #little_two{
    top: 12%;
  
  
  }
  #little_th{
    top: 22%;
  }
  #little_f{
    top: 34%;
  }
  #little_five{
    top: 46%;
  }
  #little_six{
    top: 58%;
  }
  #pink{
    height: 249px;
     font-family: "Tahoma";
  }
  #bord_first{
    border-left: 2px solid #00adb6;
  }
  #closeImg{
    margin-left: -4%;
  }
  #line_bot{
    border-bottom: 5px solid #00adb6;
  }
  #fondo{
    background-color: #FF6666;
    z-index: -1;
  }
  .rotateMe {
   -webkit-transition: -webkit-transform 1s ease-out;
   -moz-transition: -moz-transform 1s ease-out;
   transition: transform 1s ease-out;
  }
  .rotateMe:hover {
   -webkit-transform: rotate(360deg);
   -moz-transform: rotate(360deg);
   transform: rotate(360deg);
  }
  #foot{
    margin-top: 3%;
  }
  #abs_img{
    position: absolute;
    margin-top: -38%;
    margin-left: 53%;
  
  }
  #abs_img2{
    position: absolute;
    margin-top: -35%;
    margin-left: 23%;
  
  }
  
  @media (max-width: 920px) {
    #head{
      font-size: 30px;
    }
  }
  @media (max-width: 767px) {
    #info{
      position: relative;
      margin-top: 4%;
    }
    #infoDos{
      position: relative;
      margin-top: 4%;
    }
    #NivelSuperior{
      margin-top: 150px;
    }
  
  }
  @media (max-width: 650px) {
    #head{
      font-size: 25px;
    }
  }
  @media (max-width: 852px) {
    #fondo{
      margin-top: 6%;
    }
  }
  @media (max-width: 767px) {
    #fondo{
      margin-top: 15%;
    }
  }
  @media (max-width: 672px) {
    #abs_img{
     display: none;
    }
  }
  @media (max-width: 562px){
  #fondo {
      margin-top: 22%;
  }
  }
  @media (max-width: 445px){
  #fondo {
    margin-top: 28%;
  }
  }
  @media (max-width: 1193px){
  .square {
    margin-top: 7%;
  }
  }
  @media (max-width: 435px){
  #pink {
      height: 287px;
  }
  }
  
